<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;">
  <h1 style="color:#fff;">
    Welcome to {{ title }}!
  </h1>
  <div id="board">
      <canvas #canvasboard (click)="mouseEnter(e)" id="canvas-board"></canvas>
      <canvas #canvaspaths id="canvas-paths"></canvas>
      <canvas #canvasbubbles id="canvas-bubbles" (click)="mouseEnter1(e)"></canvas>
      <canvas #canvasfruits id="canvas-fruits"></canvas>
      <canvas #canvaspacman id="canvas-pacman"></canvas>
      <canvas #canvasghostblinky id="canvas-ghost-blinky"></canvas>
      <canvas #canvasghostpinky id="canvas-ghost-pinky"></canvas>
      <canvas #canvasghostinky id="canvas-ghost-inky"></canvas>
      <canvas #canvasghostclyde id="canvas-ghost-clyde"></canvas>
      <div id="control-up-big"></div>
      <div id="control-down-big"></div>
      <div id="control-left-big"></div>
      <div id="control-right-big"></div>
  </div>
  <div id="control">
      <div id="control-up"></div>
      <div id="control-up-second"></div>
      <div id="control-down"></div> 
      <div id="control-down-second"></div>
      <div id="control-left"></div>
      <div id="control-right"></div>
    </div>
</div>


